@charset "UTF-8";
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", Yu Gothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
.logo{
    width: 350px;
    margin-top: 14px;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
.page-title {
    font-size: 5rem;
    font-family:  serif;
    text-transform: uppercase;
    font-weight: normal;
}
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home {
    background-image: url(main-bg.jpg);/*,linear-gradient(#c9ffbf, #ffafbd)*/
    background-blend-mode: luminosity;
    min-height: 100vh;
}


